#Ignore everything
*
*/*
#Include .gitignore
!.gitignore
#Include all code
!*.R
!*.Rmd
!*.rmd
!*.qmd
!*.Qmd

.Rproj.user
data/data_simulated.csv
!codebook_data_simulated.csv
!synthetic_data_simulated.csv
